
.square {
  border: medium solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: -3px;
}

.square.top {
  border-top: 0;
}
.square.top.left {
  border-left: 0;
}
.square.top.right {
  border-right: 0;
}

.square.mid.left {
  border-left: 0;
}
.square.mid.right {
  border-right: 0;
}

.square.bottom {
  border-bottom: 0;
}
.square.bottom.left {
  border-left: 0;
}
.square.bottom.right {
  border-right: 0;
}
