/*
Error: Invalid CSS after "3px solid black": expected expression (e.g. 1px, bold), was ";"
        on line 7 of ToeStyle.scss.haml

2: 
3: 
4: 
5: 
6: #boxBorder {
7:   border: 3px solid black;
8: }

Backtrace:
ToeStyle.scss.haml:7
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/script/lexer.rb:228:in `expected!'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/script/parser.rb:702:in `assert_done'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/script/parser.rb:64:in `parse'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/script/parser.rb:223:in `parse'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/script.rb:27:in `parse'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:1151:in `parse_script'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:720:in `parse_property'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:691:in `parse_property_or_rule'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:657:in `parse_line'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:535:in `build_tree'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:554:in `block in append_children'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:553:in `each'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:553:in `append_children'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:544:in `block in build_tree'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:537:in `each'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:537:in `build_tree'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:554:in `block in append_children'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:553:in `each'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:553:in `append_children'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:406:in `_to_tree'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:412:in `run'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/Users/Lexie/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
/Users/Lexie/.rbenv/versions/2.2.3/bin/sass:23:in `load'
/Users/Lexie/.rbenv/versions/2.2.3/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"3px solid black\": expected expression (e.g. 1px, bold), was \";\"\A         on line 7 of ToeStyle.scss.haml\A \A 2: \A 3: \A 4: \A 5: \A 6: #boxBorder {\A 7:   border: 3px solid black;\A 8: }"; }
